@media print {
  @page {
     size: landscape;
     margin: 0cm 1cm 2cm 1cm;
  }
  img:first-child, img:nth-child(2) {
    height:100px;
    width:auto;
    margin:auto;
  }
  img[src='#'] {
    border:1px solid white;
  }
}